_site/
.quarto/
_freeze/**/figure-pdf/
*_files/
*.aux
*.log
*.toc
*.synctex.gz
part-one/*.tex
part-two/*.tex
part-one/*.html
part-two/*.html
Rplots.pdf
.Rhistory
.RData
.DS_Store
Thumbs.db

/.quarto/
**/*.quarto_ipynb
